numpy==1.26.4
scipy==1.14.1
pandas==2.2.3
matplotlib==3.8.4
seaborn==0.13.2
basemap==1.4.1
geopy==2.4.1
geopandas==1.0.1
shapely==2.0.6
scikit-learn==1.5.2
rasterio==1.4.2
datetime==5.5
pandas_ta==0.3.14b0
statsmodels==0.14.4
netCDF4==1.7.2
pywind==1.2.0
FLORIS==3.6
nemo==6.0.3
pygeogrids==0.5.2
eccodes
xarray==2024.10.0
pygrib==2.1.6
waves==0.5.3
OpenFOAM==0.1.0
PyMesh==1.0.2
jupyter==1.1.1
seawater==3.3.5
GSW==3.6.19
windrose==1.9.2
openpyxl==3.1.5
click==8.1.7
pyparsing==3.2.0
tk==8.6.13
pyqt==5.15.10
shapely==2.0.5
plotly==5.24.1
folium==0.18.0